.chartSection {
    width: 89%;
    height: 29%;
    margin: 25px auto;
    padding: 10px 20px 0 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px 10px rgba(200, 0, 0, 0.75);
}

.chart-title {
    margin: 0 0 20px 10px;
    font-size: 22px;
    text-align: center;
}