.sidebar {
    flex: 1;
    height: calc(100vh - 100px);
    height: auto;
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 100px;
}

.sidebar-wrapper {
    padding: 15px;
    background-color: #555;
}

.sidebar-menu {
    margin-bottom: 10px;
}


.sidebar-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #323833;
    padding: 12px;
    border-radius: 5px;
}

.sibebarList {
    list-style: none;
    padding: 9px;
}

.sidebarListItem {
    cursor: pointer;
    padding: 12px;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


.sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
}

.sidebar-icon {
    margin-right: 15px;
}

.link {
    text-decoration: none;
    /* color: inherit; */
}

.link.active {
    background-color: rgb(240, 240, 255);
}